.seatmap{
  position: relative;
  width: 720px;
  height: 320px;
  overflow: auto;

  canvas {
    background: rgb(193,138,138);
    background: linear-gradient(90deg, rgba(193,138,138,0) 8%, rgba(143,29,29,0.8309698879551821) 50%, rgba(19,154,72,1) 70%, rgba(255,255,255,0) 100%);
  }

}


