.seatmap {
  position: relative;
  width: 720px;
  background: #f5f6fa;
  text-align: center;
  padding-bottom: 24px;

  // https://github.com/pixijs/pixi.js/issues/621#issuecomment-187490884
  canvas {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
  }

  .stage {
    width: 377px;
    height: 28px;
    margin: 0 auto 60px auto;
    background: #dee2ee;
    text-align: center;
    font-size: 12px;
    line-height: 28px;
  }

  .canvas-container {
    position: relative;
    overflow: auto;
    width: 720px;
    height: 320px;
  }

}


